@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --text-colour: #ffffff;

  /* accent colours  */

  --accent-blue: #99cfff;
  --accent-pink: #e71083;
}

@theme inline {
  --color-background: var(--background);
  --color-body-text: var(--text-colour);
  --color-blue-accent: var(--accent-blue);
  --color-pink-accent: var(--accent-pink);
  --font-mulish: var(--font-mulish);
  --font-daysone: var(--font-days-one);
}

body {
  background: var(--background);
  color: var(--text-colour);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: var(--font-days-one);
}

/* button effect adapted slightly from https://gradientbuttons.colorion.co/ */
.button-gradient {
  background-image: linear-gradient(
    to right,
    #c53fa6 0%,
    #6cbaff 51%,
    #c53fa6 100%
  );
}
.button-gradient {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #6cbaff;
  border-radius: 10px;
  border: 1px solid #fff;
  display: block;
}

.button-gradient:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
