@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --text-colour: #ffffff;

  /* accent colours  */

  --accent-blue: #99cfff;
  --accent-pink: #e71083;

  /* buttons */
  --grey-button: #2a2a2a;
  --button-hover: #3a3a3a;

  /* cards  */
  --card-bg: #191919;
}

@theme inline {
  --color-background: var(--background);
  --color-body-text: var(--text-colour);
  /* accents  */
  --color-blue-accent: var(--accent-blue);
  --color-pink-accent: var(--accent-pink);
  /* fonts  */
  --font-mulish: var(--font-mulish);
  --font-daysone: var(--font-days-one);
  /* buttons  */
  --color-grey-button: var(--grey-button);
  --color-button-hover: var(--button-hover);
  /* card  */
  --color-card-bg: var(--card-bg);
}

body {
  background: var(--background);
  color: var(--text-colour);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: var(--font-days-one);
}

/* button effect adapted slightly from https://gradientbuttons.colorion.co/ */
.button-gradient {
  background-image: linear-gradient(
    to right,
    #c53fa6 0%,
    #6cbaff 51%,
    #c53fa6 100%
  );
}
.button-gradient {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px #6cbaff;
  border-radius: 10px;
  border: 1px solid #fff;
  display: block;
}

.button-gradient:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.grey-button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--grey-button);
}

.grey-button:hover {
  background: var(--button-hover);
  cursor: pointer;
}
